<!DOCTYPE html>
<html>
<head>
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css"/>
    <link rel="stylesheet" href="../public/css/style.css"/>
</head>
<body>
<section class="container hero is-primary">
    <div class="columns">
        <div class="column is-3">
            <aside class="menu hero is-success">
              <figure class="image is-128x128 container">
                  <img src="/img/JeAnMyNe.png"/>
              </figure>
              <p class="menu-label">
                  General
              </p>
              <ul class="menu-list">
                  <li><a href="/users/dashboard/<%= user.id %>" class="is-active">Home</a></li>
              </ul>
              <p class="menu-label">
                  mon compte
              </p>
              <ul class="menu-list">
                  <li><a href="/users/profile/<%= user.id %>" >Profile</a></li>
                  <li><a href="/modules/:id">Mes modules</a></li>
              </ul>
              <p class="menu-label">
                  Discussion
              </p>
              <ul class="menu-list">
                  <li><a>Messenger</a></li>
              </ul>
              <p class="menu-label">
                  Etat
              </p>
              <ul class="menu-list">
                  <li><a href="/">Deconnexion</a></li>
              </ul>
            </aside>
        </div>

        <div class="column is-9">
            <div class="box content">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                <p><u>DashBoard</u></p>
                            </h1>

                            <p>
                            <%= InfoDate %></p>
                            <br><br>
                            <p>Hello <%= user.lastname %></p>
                            <br>
                            <p>citation : "<%= body.quote %> "</p>
                        </div>
                    </div>
                </section>

            </div>
        </div>

    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
        </div>
    </div>
</footer>
</body>
</html>
