<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
</head>
<body>

  <section class="hero is-fullheight is-primary">
    <div class="hero-body">

      <!-- debut menu  -->
      <div class="hero is-info column is-one-quarter">
        <aside class="menu ">
            <figure class="image is-128x128 container">
                <img src="/img/JeAnMyNe.png"/>
            </figure>
            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li><a href="/users/dashboard/<%= user.id %>" class="is-active">Home</a></li>
            </ul>
            <p class="menu-label">
                mon compte
            </p>
            <ul class="menu-list">
                <li><a href="/users/profile/<%= user.id %>" >Profile</a></li>
                <li><a href="/modules/:id">Mes modules</a></li>
            </ul>
            <p class="menu-label">
                Discussion
            </p>
            <ul class="menu-list">
                <li><a>Messenger</a></li>
            </ul>
            <p class="menu-label">
                Etat
            </p>
            <ul class="menu-list">
                <li><a href="/">Deconnexion</a></li>
            </ul>
        </aside>
      </div>
      <!-- fin menu -->
      <div class="container has-text-centered">
        <h3 class="title is-2">




          <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">

              <br>
              <p><u>DashBoard</u></p>
              <p>
              <%= InfoDate %></p>
              <br><br>
              <p>Hello <%= user.lastname %></p>
              <br>
              <p>citation : "<%= body.quote %> "</p>
          </div>
        </h3>
      </div>
    </div>
  </section>
</body>
</html>
